.xcoin-chests{
	display: flex;
	flex-direction: row;
	margin: 15px;

}
.xcoin-chest{
	margin:20px;
	padding:15px;
	background: #161C32;
	border: 2px solid #FFFFFF;
	display: flex;
	letter-spacing: 2px;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	transition: 0.5s;
	overflow: hidden;
}

.xcoin-chest table{
	width:100%;
	padding: 5px;
}

.xcoin-chest img{
	width: 180px;
	height: 150px;
	margin:  10px 0px 10px 0px;
}

.bronze-chest{
	height: 250px;
}

.bronze-chest:hover{
	height: 470px;
}

.silver-chest{
	height: 250px;
}

.silver-chest:hover{
	height: 470px;
}

.gold-chest{
	height: 250px;
}

.gold-chest:hover{
	height: 470px;
}
.diamond-chest{
	height: 250px;
}

.diamond-chest:hover{
	height: 470px;
}

@media (max-width: 900px){
	.xcoin-chests{
		flex-direction: column;
	}

}

.scratch{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 500px;
	background: #161C32;
	border-radius: 10px;
	border: 2px solid #fff;
}

.scratch h2{
	user-select: none;
	position: relative;
}
.scratch section {
	user-select: none;
	position: relative;
	width: 200px;
	height: 100px;
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	overflow: hidden;
	margin-top: 50%;
	margin-bottom: 50%;
}

.scratch main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.scratch canvas{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	z-index: 2;
	mix-blend-mode: screen;
}

.lottoform{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lottotable{
	margin: auto;
}

.lottotable input[type=checkbox]{
	width: 15px;
	margin: 10px;
	-webkit-transform: scale(2);
}

.lottoroll{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.lottoroll table{
	margin: 50px 0 50px 0;
}

.dicebet{
align-items: center;
text-align: center;
width:100%;

}

.dice {
  padding: 10px;
  background-color: #161C32;
  width: 104px;
  height: 104px;
  border: solid white 5px;
  border-radius: 10%;
  margin-right : 10px;
}

.dot{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:white;
}
.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face{
  display: flex ;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(1) {
  align-self :flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self :center;
}


.fourth-face , .sixth-face, .fifth-face{
  display: flex;
  justify-content: space-between;
}

.fourth-face .column , .sixth-face .column, .fifth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.dicerule{
	margin: 20px auto 20px auto;
	width:250px;
}

.dicerule td{
	width:60px;
}

.z-bigger {
    margin:20px auto 20px auto	;
    z-index: 100 !important;
}

.z-bigger [type="checkbox"]:checked,
.z-bigger [type="checkbox"]:not(:checked),
.z-bigger [type="radio"]:checked,
.z-bigger [type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
	z-index: 1;
} 
.z-bigger [type="number"]{
	margin-top: -10px;
}

.checkbox-dicebettype:checked + label, 
.checkbox-dicebettype:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100px;
	height: 45px;
	font-size: 16px;  
	border:solid white 3px;
	border-radius: 3px;	
	text-align: center; 
	color: white;
	overflow: hidden;  
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;   
}
.checkbox-dicebettype:not(:checked) + label{
	background: #161C32;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
} 

.checkbox-dicebettype:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-dicebettype:checked + label::before{
position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background: grey;
	z-index: 0;

}

.checkbox-dicebettype:not(:checked) + label::before
{	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background: grey;
	z-index: -1;
}

.checkbox-dicebettype:checked + label span,
.checkbox-dicebettype:not(:checked) + label span{
	position: relative;
	display: block;
}

.checkbox-putto:checked + label, 
.checkbox-putto:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 45px;
	height: 45px;
	font-size: 16px;  
	border:solid white 3px;
	border-radius: 50%;	
	text-align: center; 
	color: white;
	overflow: hidden;  
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;   
}
.checkbox-putto:not(:checked) + label{
	background: #161C32;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
} 

.checkbox-putto:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-putto:checked + label::before{
position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background: grey;
	z-index: 0;

}

.checkbox-putto:not(:checked) + label::before
{	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background: grey;
	z-index: -1;
}

.checkbox-putto:checked + label span,
.checkbox-putto:not(:checked) + label span{
	position: relative;
	display: block;
}

.mezo{

	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 45px;
	height: 45px;
	font-size: 16px;  
	border:solid white 3px;
	border-radius: 50%;	
	text-align: center; 
	color: white;
	overflow: hidden; 
	margin:2px;
}

.sugoh{
	position: relative;
	margin-left: 400px;
}

.sugoh i{
	-webkit-transform: scale(1.5);
 	cursor: pointer;
}
.sugo{
	position: absolute;
	margin-bottom: 350px;
	width: 250px;
	transition: 0.5s;
	overflow: hidden;
	font-size: 10px;
	opacity: 0;
}

.sugoh:hover .sugo{
	opacity: 1;
}