.xcoin-chests{
	display: flex;
	flex-direction: row;
	margin: 15px;

}
.xcoin-chest{
	margin:20px;
	padding:15px;
	background: #161C32;
	border: 2px solid #FFFFFF;
	display: flex;
	letter-spacing: 2px;
	flex-direction: column;
	text-align: center;
	border-radius: 15px;
	transition: 0.5s;
	overflow: hidden;
}

.xcoin-chest table{
	width:100%;
	padding: 5px;
}

.xcoin-chest img{
	width: 180px;
	height: 150px;
	margin:  10px 0px 10px 0px;
}

.bronze-chest{
	height: 250px;
}

.bronze-chest:hover{
	height: 470px;
}

.silver-chest{
	height: 250px;
}

.silver-chest:hover{
	height: 470px;
}

.gold-chest{
	height: 250px;
}

.gold-chest:hover{
	height: 470px;
}
.diamond-chest{
	height: 250px;
}

.diamond-chest:hover{
	height: 470px;
}

@media (max-width: 900px){
	.xcoin-chests{
		flex-direction: column;
	}

}

.scratch{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 500px;
	background: #161C32;
	border-radius: 10px;
	border: 2px solid #fff;
}

.scratch h2{
	user-select: none;
	position: relative;
}
.scratch section {
	user-select: none;
	position: relative;
	width: 200px;
	height: 100px;
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	overflow: hidden;
	margin-top: 50%;
	margin-bottom: 50%;
}

.scratch main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.scratch canvas{
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff;
	z-index: 2;
	mix-blend-mode: screen;
}