.bar1, .bar2, .bar3 {
  width: 50px;
  height: 8px;
  background-color: #fff;
  margin: 5px 12px;
  transition: 0.5s;
  filter: blur(0px);
}

.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 11px);
  transform: rotate(-45deg) translate(-10px, 11px);
}

.active .bar2 {opacity: 0;}

.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -9px);
  transform: rotate(45deg) translate(-6px, -9px);
}

.sidebar{
	background: #161C32;
	position: fixed;
	left: 0;
	width: 0;
	height: 100%;
	transition: 0.5s;
	z-index: 101;
}

.sidebar.active{
	width: 250px;
	overflow-y: scroll;
}

.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar a:hover{
	color: #fff;
	text-shadow: 0 0 5px #fff,
				0 0 25px #fff,
				0 0 50px #fff,
				0 0 200px #fff;
	background: #2560A6;
}

.toggle {
	position: fixed;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: #161C32;
	display: inline-block;
  	cursor: pointer;
	transition: 0.5s;
	z-index: 101;
}

.toggle.active{
	left: 250px;
}

.toggle:before{
	position: relative;
	display: flex;
	content: "";
	color: #fff;
	text-align: center;
	justify-content: center;
	padding-top: 25%;
}

.toggle.active:before{
	content: "";
	color: #fff;
}

.overlay>body>header,
.overlay>body>content,
.overlay>body>footer{
	filter: blur(5px);
	
}

.overlay>body>nav{
	z-index: 1000;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track{
	background: transparent !important;
}

::-webkit-scrollbar-thumb{
	background: #bbbbbb;
	border-radius: 10px;
}

@media (max-width: 900px) {
	.overlay>body>header{
		filter: blur(0px);
	}
	.sidebar{
		top: 80px;
	}
	.sidebar a {
		line-height: 100px;
	}
	.logo{
		transform: translateX(-10px);
		transition: 0.7s;
	}
	.sidebar.active{
		width: 100%;
	}
	.sidebar.active .logo{
		transform: translateX(0);
	}
	.toggle.active{
		left: 0;
	}
}